@model IEnumerable<TWProjectCRRUD.Models.Entities.User>

@{
    ViewData["Title"] = "AssignUser";
   var vehicle = (Vehicle?)ViewData["Vehicle"];
}

<h1>Select the user to assign to Vehicle: @vehicle.Id</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="AssignToVehicle" asp-controller="VehicleUser" asp-route-id="@vehicle.Id" asp-route-userId="@item.Id">Assign</a>
            </td>           
        </tr>
}
        <a asp-action="Index" asp-controller="Vehicle">Back to Vehicles</a>
    </tbody>
</table>
