@model IEnumerable<TWProjectCRRUD.Models.Entities.Vehicle>

@{
    ViewData["Title"] = "AssignBook";
    var author = (User?)ViewData["Author"];
}

<h1>Select the book to assign to @author.FirstName @author.LastName</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                    <a asp-action="AssignToAuthor" asp-controller="BookAuthor" asp-route-bookId="@item.Id"  asp-route-id="@author.Id" >Assign</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
