@model TWProjectCRRUD.Models.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
           Number of Users:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleUsers.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AssignUser" asp-controller="VehicleUser" asp-route-id="@Model.Id">Assign User</a>
    <a asp-action="RemoveUserList" asp-controller="VehicleUser" asp-route-id="@Model.Id">Remove User</a>
    <a asp-action="Index">Back to List</a>
</div>
